@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Protest+Revolution&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --accent-color: #e74c3c;
    --background-color: #ecf0f1;
    --sidebar-color: #34495e;
    --text-color: #2c3e50;
    --card-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Protest Revolution", sans-serif;
    font-size: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: var(--sidebar-color);
    color: white;
    padding: 20px;
}

.sidebar h1 {
    font-size: 24px;
    margin-bottom: 30px;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
}

.sidebar nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}



.sidebar nav a i {
    margin-right: 10px;
}

.main-content {
    flex: 1;
    padding: 20px;
}
.tables {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.table-container {
    background-color: var(--card-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table-container h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f8f9fa;
    font-weight: bold;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }

    .main-content {
        padding: 10px;
    }

    header {
        flex-direction: column;
        align-items: stretch;
    }

    .search-bar {
        margin-bottom: 10px;
    }

    .search-bar input {
        width: 100%;
    }
}
.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s;
    float: right;
    margin-top: 20px;
    color: white;
    background-color: var(--primary-color);
    font-family: "Protest Revolution", sans-serif;
}
.btn:hover{

    background-color: #ddd;
    transition: color 1s ease;
    color: black;
    
}
